
/* common */

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 18px;
}

h2,
h3 {
  font-size: 16px;
}

p {
  margin: 0;
}

/* スマホ画像は450px＋ＰC画像は600px */
img {
  max-width: 100%;
  border: 1px solid #ccc;
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 0 4%;
  margin-top: 90px;
}

#to_top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity .3s;
}

#to_top.scrolled {
  opacity: 1;
}

#to_top i {
  font-size: 32px;
  color: hsl(200, 70%, 50%);
}

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
}

header .container {
  padding: 12px 4%;
  background-color: rgba(255, 255, 255, .95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header.scrolled {
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

header img {
  border: none;
  vertical-align: middle;
}

header nav {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

header nav ul {
  display: flex;
}

header li + li {
  margin-left: 16px;
}

header nav ul li a {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: hsl(200, 70%, 50%);
  text-align: center;
}

header nav ul li a:hover {
  opacity: .6;
}

header nav ul li a i {
  font-size: 22px;
}

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  background: #fafafa;
  transition: all 0.6s;
  pointer-events: none;
}

.overlay ul {
  margin-top: 64px;
}

.overlay li {
  font-size: 15px;
  border-bottom: 1px solid #aaa;
}

.overlay ul li a {
  display: block;
  padding: 16px;
}

.overlay ul li a:hover {
  opacity: .6;
}

.overlay.show {
  right: 0;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

/* mask */

.mask {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.mask.disable {
  display: none;
}

/* start */

.start {
  margin: 10px 0;
}

.start h1 {
  text-align: center;
  background: hsl(209, 80%, 70%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  font-weight: bold;
  padding: 8px 0;
}

.start p {
  padding: 20px;
  border: 1px solid hsl(209, 80%, 70%);  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* cat */

.cat {
  padding: 15px 0;
}

.cat h2 {
  font-weight: bold;
  border-left: 6px solid hsl(0, 80%, 70%);
  border-bottom: 1px solid #999;
  padding: 6px;
}

.cat p {
  padding: 8px 0 12px;
}

.caution {
  color: rgb(235, 48, 48);
  font-size: 14px;
  padding: 0;
}

.btn {
  width: 40%;
  max-width: 250px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  background: hsl(0, 80%, 70%);
  border-radius: 4px;
  box-shadow: 0 1px 0 hsl(0, 39%, 55%);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn a {
  font-size: 14px;
  color: #fff;
  /* padding: 6px 0 10px; */
  display: block;
}

.index {
  border: 1px solid hsl(0, 80%, 70%);
  margin: 10px 0;
}

.index h3 {
  text-align: center;
  background: hsl(0, 80%, 70%);
  color: #fff;
  font-weight: bold;
  padding: 4px 0;
}

.index ul {
  padding: 10px;
  list-style: circle inside;
}

.index ul li:hover {
  opacity: 0.8;
}

.content {
  margin-bottom: 60px;
}

.flow {
  margin: 30px auto;
}

.content h1 {
  font-size: 16px;
  font-weight: bold;
  background: hsl(0, 80%, 70%);
  color: #fff;
  padding: 6px;
  margin-bottom: 16px;
}

.content h2 {
  border-left: 5px solid hsl(calc(0 + 40), 80%, 60%);
  padding: 4px 4px 4px 8px;
  margin-bottom: 15px;
  font-weight: bold;
}

#link {
  display: inline-block;
  font-weight: bold;
  color: hsl(calc(0 + 220), 80%, 50%);
}

#link:hover {
  text-decoration: underline;
}

/* footer */

footer {
  background: #333;
  text-align: center;
  padding: 25px 0;
}

footer p a {
  color: #fff;
  font-size: 14px;
}

/* large Screen */
@media (min-width: 800px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }

  .overlay ul {
    text-align: center;
  }

}